<!DOCTYPE html>
<html id="ng-app" ng-app="app">

<head>
    <title>Simple example</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fix for old browsers -->
    <script src="../../node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="../../node_modules/es5-shim/es5-sham.min.js"></script>

    <script src="../../node_modules/angular/angular.min.js"></script>

    <link type="text/css" rel="stylesheet" href="../../dist/angularCropImage.css">
    <script src="../../dist/angularCropImage.min.js"></script>

    <script src="controllers.js"></script>

</head>

<body ng-controller="AppController">


<div class="cropImage" ng-class=" {'cropImage__state_edit': cropImageModeEdit} ">

    <div style="background-image: url(../images/pet_racd.png)" crop-image="image" data-min-zoom="0.5" data-max-zoom="4" data-zoom="1" data-border="false" class="cropImage__editor" data-pixel-ratio="2" >

        <label class="cropImage__editor-select">Править <input type="file" style="display: none;" crop-image-model="image" /></label>
        <a class="cropImage__editor-save" ng-click=" crop = cropImageCut() ">Сохранить</a>

    </div>

    <button ng-click=" cropImageZoomIn(0.1) ">+</button>
    <button ng-click=" cropImageZoomOut(0.1) ">-</button>
    <button ng-click=" cropImageCancel() ">отмена</button>


</div>

<br/><br/>
RESULT: <br/>
    <img width="200" height="200" ng-src="{{crop}}">

</body>
</html>
