<!DOCTYPE html>
<html id="ng-app" ng-app="app">

<head>
    <title>Simple example</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="../../dist/angularCropImage.css">

    <!-- Fix for old browsers -->
    <script src="../libs/es5-shim.min.js"></script>
    <script src="../libs/es5-sham.min.js"></script>
    <script src="../libs/angular-1.4.7.js"></script>

    <script src="../../dist/angularCropImage.min.js"></script>
    <script src="controllers.js"></script>

</head>

<body ng-controller="AppController">


<div class="cropImage">

    <div crop-image="image" data-zoom="zoom" class="cropImage__editor" data-pixel-ratio="2">

        <label class="cropImage__editor-select-image">Править <input type="file" style="display: none;" crop-image-model="image" /></label>

    </div>

    <button ng-click=" cropImageZoomIn(0.1) ">+</button>
    <button ng-click=" cropImageZoomOut(0.1) ">-</button>
    <button ng-click=" crop = cropImageCut() ">crop</button>

</div>

    <img ng-src="{{crop}}">

</body>
</html>
