
.cropImage {

	&__editor {

		position relative
		overflow hidden
		margin-top 10px
		width 200px
		height 200px
		border 1px dotted green
		border-radius 50%
		background-repeat no-repeat
		background-size 100%

		&-select, &-save {

			cursor pointer
			text-align center
			font-size 14px
			position absolute
			bottom -100%
			left 0
			width 100%
			background-color rgba(0, 0, 0, 0.6)
			height 40px
			line-height 40px
			color #fff
			text-transform uppercase
			transition 0.2s

		}


	}



	&__state_edit {

		.cropImage__editor-select {
			bottom -100%!important
		}

		.cropImage__editor-save {
			bottom 0
		}

	}

	&:hover {

		.cropImage__editor-select {
			bottom 0
		}

	}

}

.cursor-move {

	cursor move !important

}